**/__pycache__/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.mutmut-cache
.coverage
htmlcov/*
geckodriver.log
Galadriel.egg-info/*
build/*
